@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

:root {
  --main-bg-color: black;
  --secondary-bg-color: #282828;
  --primary-accent-color: #21A4B6;
  --text-color: white;
}